$bg-light: $gray-500;
$bg-dark: $gray-900;
$text-dark: $gray-800;
$gray-light: $gray-600;
$text-subtle: $gray-600;
$border-light: $gray-500;


// Spacing
$spacer-1: map-get($spacers, 1 );
$spacer-2: map-get($spacers, 2 );
$spacer-3: map-get($spacers, 3 );
$spacer-4: map-get($spacers, 4 );
$spacer-5: map-get($spacers, 5 );

// Font sizing
$text-xs: 12px;
$text-sm: 14px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 30px;
