// Containers

.container-xs {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-sm {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-md {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-lg {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Colors

.bg-light {
  background: $bg-light;
}

.bg-dark {
  background: $bg-dark;
}

.text-dark {
  color: $text-dark;
}

.text-grey {
  color: $gray-light;
}

.text-subtle {
  color: $text-subtle;
}

// Borders

.border {
  border: 1px solid $border-light;
}

.border-top {
  border-top: 1px solid $border-light;
}

.border-right {
  border-right: 1px solid $border-light;
}

.border-bottom {
  border-bottom: 1px solid $border-light;
}

.border-left {
  border-left: 1px solid $border-light;
}




