@import "variable-overrides";

@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "custom-variables";

@import "base/**/*.scss";
@import "components/**/*.scss";

@import "utilities";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


